.kernjs_panel * {
    outline: none !important;
}
.kernjs_panel {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
    font-weight: 900 !important;
    font-size: 16px !important;
    text-transform: none !important;
    position: absolute !important;
    top: 0 !important;
    z-index: 1000000000 !important;
    text-align: center !important;
    height: 58px !important;
    width: 100% !important;
    margin: 0 auto !important;
    background: url(https://github.com/bstrom87/kern.js/raw/master/noise.png) #f1f1f1 !important;
    border-bottom: 1px solid rgba(0,0,0,0.1) !important;
}

.kernjs_p em, .kernjs_p a {
    font-weight: bold !important;
    font-style: normal !important;
    text-decoration: none !important;
}

.kernjs_p a:hover {
    opacity: 0.7 !important;
}

.kernjs_button .btn span {
    -moz-border-radius: 3px !important;
    -webkit-border-radius: 3px !important;
    border-radius: 3px !important;
    display: inline-block !important;
    margin: 7px 0 0 0 !important;
    padding: 9px 20px !important;
    background: url(https://github.com/bstrom87/kern.js/raw/master/noise.png) #333 !important;
    color: white !important;
    font-weight: bold !important;
}

.kernjs_button .btn span:hover {
    background-color: #222 !important;
}

.kernjs_button .btn span:active {
    background-color: #000 !important;
}

.kernjs_button a {
    font-size: 12px !important;
    margin: 0 !important;
    text-decoration: none !important;
    padding: 0 !important;
    border: none !important;
    text-transform: uppercase !important;
    letter-spacing: 1px !important;
}
h1, h2, h3, h4, h5, h6, span, p, li {
    cursor: pointer !important;
}

.kernjs_unit section {
    padding: 8px 2px 0 2px !important;
    display: inline-block !important;
}

.kernjs_panel input[type="button"] {
    cursor: pointer !important;
    -moz-border-radius: 3px !important;
    -webkit-border-radius: 3px !important;
    border-radius: 3px !important;
    border: 1px solid rgba(0,0,0,0.2) !important;
}

.kernjs_overlay {
    position: absolute !important;
    top: 0 !important;
    height: 100% !important;
    min-height: 100% !important;
    width: 100% !important;
    z-index: 100000000000000 !important;
    text-align: center !important;
    overflow: none !important;
    background: url(https://github.com/bstrom87/kern.js/raw/master/noise.png) rgba(0,0,0,0.85) !important;
    opacity: 0 !important;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
    color: #222 !important;
}
.kernjs_container {
    -moz-box-shadow: 0 0 15px #000 !important;
    -webit-box-shadow: 0 0 15px #000 !important;
    box-shadow: 0 0 15px #000 !important;
    background: url(https://github.com/bstrom87/kern.js/raw/master/noise.png) #f1f1f1 !important; 
    margin: 0 auto !important;
    text-transform: none !important;
}
.kernjs_instructions {
    margin: 0 auto !important;
    width: 540px !important;
    padding: 40px !important;
}
.kernjs_p {
    font-size: 24px !important;
    line-height: 32px !important;
    color: #555 !important;
    text-shadow: 0 -1px 1px rgba(255,255,255,1) !important;
}
.kernjs_error {
    text-align: center !important;
}
.kernjs_success {
    text-align: left !important;
}
.kernjs_instructions a {
    color: #009bd5 !important;
    text-align: center !important;
}
.kernjs_instructions a:visited {
    color: #009bd5 !important;
}
.kernjs_instructions textarea {
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    border-radius: 5px !important;
    padding: 10px !important;
    width: 100% !important;
    height: 180px !important;
    border: 1px solid #BBB !important;
}
.kernjs_note {
    font-size: 13px !important;
    text-align: center !important;
}
.kernjs_style {
    font-style: italic !important;
}
.kernjs_button {
    list-style-type: none !important;
}
.kernjs_finish {
    padding: 15px 0 20px 0 !important;
    text-align: center !important;
}
.kernjs_contact {
    text-align: center !important;
    font-size: 14px !important;
    padding-bottom: 25px !important;
}

#kernjs_logo {
    padding-top: 10px !important;
}

.kernjs_overlay h6 {
    color: white !important;
    margin: 0 !important;
    cursor: auto !important;
}